
      .nav-wrapper {
        display: flex;
        justify-content: space-between;
        height: 10vh;
      }
      
      .nav-left {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: fixed;
        
      }
      
      .nav-name {
        font-size: 1.3rem;
        font-weight: bold;
      }
      
      .nav-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        position: fixed;
        left:20rem;
      }
      
      .nav-right ul {
        display: flex;
        gap: 2rem;
        margin-right: 4rem;
      }
      
      .nav-right ul li {
        list-style: none;
      }
      
      .nav-right ul li:hover {
        color: #fca61f;
        cursor: pointer;
      }
      
      .newadd {
        background-color: #fca61f;
        color: white;
        padding: 0.5rem;
        font-weight: bold;
        width: 5rem;
        height: 2.5rem;
        border: none;
        cursor: pointer;
      }
      
      /* Media Queries */
      
      /* Tablets and small desktops */
      @media (max-width: 768px) {
        .nav-wrapper {
          flex-direction: column;
          height: auto;
        }
      
        .nav-left,
        .nav-right {
          flex: none;
          justify-content: center;
          gap: 1rem;
        }
      
        .nav-right ul {
          flex-direction: column;
          gap: 1rem;
          margin-right: 0;
        }
      
        .newadd {
          width: auto;
          padding: 0.5rem 1rem;
        }
      }
      
      /* Mobile devices */
      @media (max-width: 480px) {
        .nav-wrapper {
          flex-direction: column;
          height: auto;
          padding: 1rem 0;
        }
      
        .nav-left,
        .nav-right {
          flex: none;
          justify-content: center;
          gap: 1rem;
        }
      
        .nav-name {
          font-size: 1.5rem;
        }
      
        .nav-right ul {
          flex-direction: column;
          gap: 0.3rem;
          margin-right: 0;
        }
      
        .newadd {
          width: auto;
          padding: 0.5rem 1rem;
          margin-top: 6rem;
          margin-left: 25px;
        }
      }
      