.footer {
       display: flex;
       align-items: center;
       margin: -0.5rem -3.5rem;
       margin-top: -5rem;
      
     }
     
     .f-container {
       position: absolute;
       margin-top: 6rem;
       margin-left: 24rem;
     }
     
     .f-container span {
      margin-top: -2rem;
       font-size: 25px;
       font-weight: 600;
       color: #fff;
     }
     
     .f-container .f-icons {
       display: flex;
       flex-direction: row;
       margin-top: 1rem;
       gap: 0.5rem;
     } 
    
     /* Media Query for smaller screens */
     @media (max-width: 768px) {
       .footer {
         flex-direction: column;
         align-items: center;
         margin: 0;
         margin-top: -5rem;
       }
     
       .f-container {
         position: absolute;
          margin-top: 9rem;
          margin-left: 0;
         text-align: center;
       }
     
       .f-container span {
       
         font-size: 20px;
       }
     
       .f-icons {
         margin-top: 10px;
         gap: 20px;
       }
     }
     