/* crown image */
.floatingdiv{
          display: flex;
          justify-content:space-around;
          align-items: center;
          position: absolute;
          right: -30px;
          bottom: -30px;
           margin-bottom: 360px;
          z-index: 98888888;
          background-color: whitesmoke;
          
          border-radius: 10px;
          padding: 0px 6px 8px 0px;
       
}

.corwn{
          transform: scale(1.0);
          width: 2rem;
          height: 2rem;

}

 .floatingdiv>span{
          color: var(--orange);
          font-weight: bold;
          font-family: sans-serif;
          font-size: 16px;
          margin-top: 10px;
} 
/* thumbup image */
.thumbup{
          display: flex;
          justify-content:space-around;
          align-items: center;
          position: absolute;
          right: -130px;
          bottom: 10px;
         
          margin-right:390px;
          background-color: whitesmoke;
          border-radius: 10px;
          padding: 0px 6px 8px 0px;

}
.thum{
          transform: scale(1.0);
          width: 2rem;
          height: 2rem;   
}
 .thumbup>span{          
          color: var(--orange);
          font-weight: bold;
          font-family: sans-serif;
          font-size: 16px;
          margin-top: 10px;
         

}

